


   
  nav ul li a {
    color: white;
    background-color: rgba(0, 0, 0, 0.452);
  }
   nav ul{
     margin-top: 12px;
   }
  nav ul li  :hover{
    color: rgb(30, 27, 236);
   }
   .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }
 .audio{
   height: 25px;
  }
  .song{
    margin-left: 25px;
    margin-top: 5px;
  }
  .songg{
    background-color:rgb(241, 239, 239);
    width: 100%;
    height: 25px;
    margin-left: 290px;
  }
 .meni{
    margin-top:25px;
  }
.view {
    background-image: url("50.jpg");
  
    background-attachment: fixed;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center; 
    z-index: 0;
    padding-top: 650px;
    


    }
.dk {
    margin-top: px;
    color: #fff;
    

    }
    .maska{
     background-color: rgba(0, 0, 0, 0.63);
     height: 700px;
     margin-top: -700px;

    }
    
.streak{
    background-image: url("48a.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
   
    background-size: cover;
    
     }
     .pio{
       color: white;
     }
     .padre{
        position: relative;
        top: 30px;
        color: #fff;
     }
     
.container{
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  
 }

 .scroll{
   overflow-x: scroll;
   overflow-y: hidden;
   display: flex;
   
 }
 .scroll img{
   width: 300px;
   height: 300px;
 }
 
.animation{
   transition: transform 0.9 ease-out;
}




@media only screen and (max-width: 300px){
  .ikon{
    position: relative;
    top: 250px;
    
    color: rgba(255, 255, 255, 0.657);
    z-index: 1;
  }
  .ljevo{
    position: relative;
    left: -130px;
  }
  .desno{
    position: relative;
    right: -130px;
  }
  
 
}
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
  .card {
    display: inline-block;
    flex: 0 0 auto;
  }
  .rgba  {
    background-color: rgba(0, 0, 0, 0.63);
    
    
  }
  .rgba h5,h3,p  {
  
  font-size: small;
  
  }
  
  .fa-play-circle{
  color: rgba(255, 255, 255, 0.384);
  
  }
  .fa-play-circle :hover{
  color: rgba(255, 255, 255, 0.678);
  
  }
  .videos {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-left: 15px;
    
  }
  .vide {
    
    margin-left: 15px;
    
    
  }
  .vide img {
    width: 100%;
    height: 150px;
    
  }
 
 
  
  
  
   



 