
body {
      font-family: Arial, Helvetica, sans-serif;
      background-color: rgb(240, 241, 241); 
      padding: 15px;
           
}
.navbar{
  background-color: rgba(2, 30, 53, 0.705);

}
nav ul li {
  padding-left: 25px;
  
}
nav ul li a {
  color: white;
}
nav ul li  :hover{
  color: rgb(125, 118, 167);
}
.aa{
  margin-top: 20px;
}
.pozadina{
  background-color: rgba(0, 0, 255, 0.075);
}
.zelena{
  color: rgba(127, 247, 147, 0.904);
}
.dobro{
  color: #fff;
}


