
body {
      font-family: Arial, Helvetica, sans-serif;
      background-color: rgb(240, 241, 241); 
      padding: 15px;
       
}
.navbar{
  background-color: rgba(2, 30, 53, 0.705);

}
nav ul li {
  padding-left: 25px;
  
}
nav ul li a {
  color: white;
}
nav ul li  :hover{
  color: rgba(127, 247, 147, 0.904);
}
.aa{
  margin-top: 20px;
}
.pozadina{
  background-color: rgba(0, 0, 255, 0.075);
}
.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: rgba(127, 247, 147, 0.904);
  border: 1px solid transparent;
  border-radius: 0.25rem;
 
}
.icon{
  color: white;
  
  
}
.zelena{
  color: rgba(127, 247, 147, 0.904);
  margin-right: 10px;
}
.zelena1{
  color: rgba(127, 247, 147, 0.479);
  margin-right: 10px;
}
.zelena2{
  color: rgba(247, 181, 127, 0.445);
  margin-right: 10px;
}
.zelena3{
  color: rgba(221, 247, 127, 0.589);
  margin-right: 10px;
}
.zelena4{
  color: rgba(127, 135, 247, 0.589);
  margin-right: 10px;
  margin-top: 10px;
  
}
.slike a{
  text-decoration: none;
}
.dobro{
  color: #fff;
}
.audio{
 height: 25px;
 

  
}
.song{
  margin-left: 25px;
  margin-top: 5px;

}
.songg{
  background-color:rgb(241, 239, 239);
  width: 100%;
  height: 25px;
  margin-left: 290px;
  
}
.xradiostream{
  display: none;
  color: #000;
}

.meni{
  margin-top:25px;
}

@media (min-width: 300px) { 
  .ravna{padding-top: 90px;
         
    
 
  }
  }
  @media (max-width: 300px) { 
    .ravna{padding-top: 90px;
           
      
   
    }
    }
@media (max-width: 400px) { 
  .ravna img{width: 100%;
             height: 270px;
   
  
    }
    }  
 
    @media (min-width: 980px){ 
      .slova{font-size: 50px;
        margin-top: -300px;
        background-color: rgba(0, 0, 0, 0.342);
     
      }
      }
      @media (max-width: 980px) { 
        .slova{font-size: 40px;
          margin-top: -200px;
          
       
        }
        }
        @media (max-width: 800px) { 
          .slova{font-size: 35px;
                 margin-top: -150px;
                 
          }
          }
          @media (max-width: 700px) { 
            .slova{font-size: 30px;
                   margin-top: -150px;
                   
            }
            }
            @media (max-width: 610px) { 
              .slova{font-size: 25px;
                     margin-top: -100px;
                    
              }
              }
              @media (max-width: 510px) { 
                .slova{font-size: 14px;
                       margin-top: 0px;
                       margin-left: 40px;
                       background-color: rgba(0, 0, 0, 0.342);
                }
                }
                * {
                  box-sizing: border-box;
                }
                
                /* Position the image container (needed to position the left and right arrows) */
                .container {
                  position: relative;
                }
                
                /* Hide the images by default */
                .mySlides {
                  display: none;
                }
                
                /* Add a pointer when hovering over the thumbnail images */
                .cursor {
                  cursor: pointer;
                }
                
                /* Next & previous buttons */
                .prev,
                .next {
                  cursor: pointer;
                  position: absolute;
                  top: 40%;
                  width: auto;
                  padding: 16px;
                  margin-top: -50px;
                  color: white;
                  font-weight: bold;
                  font-size: 20px;
                  border-radius: 0 3px 3px 0;
                  user-select: none;
                  -webkit-user-select: none;
                }
                
                /* Position the "next button" to the right */
                .next {
                  right: 0;
                  border-radius: 3px 0 0 3px;
                  margin-right: 15px;
                  
                }
                
                
                /* On hover, add a black background color with a little bit see-through */
                .prev:hover,
                .next:hover {
                  background-color:  rgba(127, 247, 147, 0.904);
                  
                }
                
                
                /* Number text (1/3 etc) */
                .numbertext {
                  color: #f2f2f2;
                  font-size: 12px;
                  padding: 8px 12px;
                  position: absolute;
                  top: 0;
                }
                
                /* Container for image text */
                .caption-container {
                  text-align: center;
                  background-color:  rgba(127, 247, 147, 0.904);
                  padding: 2px 16px;
                  color: white;
                  height: 25px;
                }
                
                .row:after {
                  content: "";
                  display: table;
                  clear: both;
                }
                
                /* Six columns side by side */
                .column {
                  float: left;
                  width: 16.66%;
                }
                
                /* Add a transparency effect for thumnbail images */
                .demo {
                  opacity: 0.6;
                }
                
                .active,
                .demo:hover {
                  opacity: 1;
                }            
           
         
   
 


